/* light-mode colors */
/* 
#516C5F -- headers
#9EA396 -- text
#E3DEDA -- background color 
#D3C0B6 -- accent 
*/


footer {
    margin-top: 10rem;
    padding: 1.875rem;
    background-color:rgb(211, 192, 182, 0.1);
    color:#516C5F;
    /* font-family: 'Metal', cursive; */
}

footer a {
    color:#516C5F;
}

hr {
    color: #516C5F;
    font-size: 10rem;
}

html {
    background-color: #E3DEDA;
    font-size: 16px;
    font-family: 'Gloock', serif;
}

h1 {
    font-size: 6.5rem;
    color: #516C5F;
    padding: 1rem;
    margin: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: #516c5f;
    margin: 1rem 0 3rem 0;
    text-align: center;
}

h3 {
    margin-bottom: 0.5rem;
}

h3, h3 a {
    font-size: 2rem;
    color: #516C5F;
}

header {
    display: flex;
    /* padding: 1rem; */
    /* width: 100%; */
    margin: 1rem;
}

header nav {margin-left: auto;/* display: none; */}

header nav ul {
    display: flex;
    /* font-size: 1.5rem; */
}

header nav ul li a{
    padding-left: 1rem;
    /*     padding-right: 1rem; */
    color:#516C5F;
}

header nav ul li a:hover{
    font-size: 1.65rem;
    color:#9EA396;
}

input, textarea {
    background-color: #E3DEDA;
    color: #516C5F;
    border: #D3C0B6 outset 0.1875rem;
    margin-top: 0.5rem;
}

label {
    font-size: 1.5rem;
    color:#516C5F;
}

section {
    margin: 1rem;
    display: block;
}

textarea {
    height: 20rem;
    width: 23rem;

}

.aboutMe {
    display: inline-flex;
}

.aboutMe img {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: #D3C0B6 ridge 1.25rem;
    margin: 0 10%;
}

.aboutMe p {
    /* float: right; */
    border-left: #D3C0B6 solid 0.5rem;
    margin: 1rem 5rem 1rem 0;
    padding: 0 0 0 5rem;
    color:#9EA396;
    font-size: 1rem;
    line-height: 1.25rem;
}

.btn {
    background-color: #D3C0B6;
    color: #516C5F;
    padding: 0.5rem;
}

.btn:hover {
    color:#9EA396;
}

.contact-content {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.contactImgText p{
    color:#9EA396;
    margin-bottom: 1rem;
    text-align: center;
}

/* styling for dark mode */
.darkmode--activated p, .darkmode--activated .title-descr p, .darkmode--activated .skills-toolkits p {
    color: #3a4d43;
}


.darkmode--activated .accessibility {
    content: url("./images/web_accessibility2.png");
}

.darkmode--activated .cmdLine {
    content: url("./images/commandLine2.png");
}

.darkmode--activated .c {
    content: url("./images/c2.png");
}

.darkmode--activated .css {
    content: url("./images/css2.png");
}

.darkmode--activated .git {
    content: url("./images/git2.png");
}

.darkmode--activated .github {
    content: url("./images/github2.png");
}

.darkmode--activated .html {
    content: url("./images/html2.png");
}

.darkmode--activated .ig {
    content: url("./images/instagram2.png");
}

.darkmode--activated .js {
    content: url("./images/js2.png");
}

.darkmode--activated .linkedin {
    content: url("./images/linkedin2.png");
}

.darkmode--activated .responsive {
    content: url("./images/responsive_web2.png");
}

.darkmode--activated .twitter {
    content: url("./images/twitter2.png");
}

.darkmode--activated .vscode {
    content: url("./images/vsCode2.png");
}

.darkmode-toggle {
    z-index: 500;
}

/* styling for dark mode end */

.disclaimer {
    float: right;
}

.h1Highlight{
    color: #9EA396;
    /* transition: margin-right 2s ease-in-out; */
}

.h1Highlight:hover {
    /* font-size: 6rem; */
    /* text-decoration: underline; */
    transition: margin-right 2s ease-in-out;
}

.myWorkImg {
    height: 25rem;
    width: 38rem;
    border: #D3C0B6 outset 0.3125rem;
    border-radius: 10%;
}

.newSection {
    margin-bottom: 5rem;
    /* width: fit-content; */
}

.project {
    display: inline-flex;
    margin: 3rem;
}

.projectBtns {
    margin-top: 2rem;
}

.projectBtns a{
    margin: 0.25rem;
    border-radius: 5%;
}

.project p {
    font-size: 1rem;
    color: #9EA396;
}

.projectSkills {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectSkills img{
    width: 2rem;
    height: 2rem;
    margin: 1rem 0.15rem 0;
}

.skill {
    margin: 1rem;
    text-align: center;
    
}

.skill img{
    height: 8rem;
    width: 8rem;
}

.skill p {
    color:#516C5F;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.skills-tech h3, .skills-tech p {
    text-align: center;
}

.skills-tech h3 {
    margin-left: 1rem;
}

.skills-tech p {
    color:#9EA396;
    font-size: 1.5rem;
    margin: 1rem;
}

.skills-toolkits {
    display: inline-flex;
    margin: 1.5rem 0;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.socialImgs {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.socialImgs img{
    height: 8rem;
    width: 8rem;
}

.socialMedia {
    margin-top: 5rem;
}

.submission input{
    background-color: #D3C0B6;
    color:#516C5F;
    font-size: 2rem;
    border: #D3C0B6 outset 0.0625rem;
    border-radius: 5%;
}

.submission input:hover{
    background-color: #D3C0B6;
    color:#9EA396;
    cursor: pointer;
}

.title-descr {
    padding: 0 5rem;
}

.title-descr h3{
    font-size: 1.5rem;
}



#daishaLogo {
    color:#516C5F;
    font-size: 1.5rem;
}

#devsLogo {
    color:#9EA396;
    font-size: 1.5rem;
}

#meImg {
    height: 31.25rem;
    width: 31.25rem;
    border: #D3C0B6 outset 0.25rem;
    border-radius: 15%;
}

#lostSurvImg {
    object-fit: cover;
    isolation: isolate;
}


/* *********** MEDIA QUERIES *********** */
/* Styling for mobile */
@media (max-width: 426px) {

    .project {
        margin: 1rem 1rem 10rem 1rem;
        display: block;
    }
    
    .projectBtns a{
        margin: 0.25rem;
        border-radius: 5%;
        font-size: 1rem;
    }
    
    .projectSkills img{
        width: 1rem;
        height: 1rem;
    }
    
    header nav {
/*         display: none; */
        font-size: 0.70rem
    }
    
    
    h1 {
       font-size: 3.75rem;
    }

    .aboutMe {
        display: block;
    }

    .aboutMe img {
        height: 13.25rem;
        width: 13.25rem;
        margin: 0 20%;
    }

    .aboutMe p {
        border: none;
    }


    .myWorkImg {
        width: 23rem;
        height: 14rem;
    }

    .title-descr {
        padding: 0 1rem;
        margin: 2rem 0 2rem 0;
    }

    .skill img {
        height: 12rem;
        width: 12rem;
    }

    .disclaimer {
        display: none;
    }

    footer {
        padding: 1rem;
    }
}


/* Styling for tablet */
@media (min-width: 426px) and (max-width: 769px) {

    .project {
        margin: 1.5rem;
    }
    
    .projectBtns a{
        margin: 0.25rem;
        border-radius: 5%;
        font-size: 1rem;
    }
    
    .projectSkills img{
        width: 1rem;
        height: 1rem;
    }
    
    header nav ul {
    display: flex;
    font-size: 1rem;
    }
    
    header nav ul li a{
        color:#516C5F;
    }
    
    header nav ul li a:hover{
        font-size: 1rem;
        color:#9EA396;
    }
    
    
    h1 {
       font-size: 4rem;
   }

    .aboutMe img {
        height: 13.25rem;
        width: 13.25rem;
        margin: 0 35%;
        text-align: center;
    }

    .aboutMe p {
        border: none;
    }


    .myWorkImg {
        width: 23rem;
        height: 14rem;
    }

    .title-descr {
        padding: 0 1rem;
    }

    .skill img {
        height: 12rem;
        width: 12rem;
    }

}


/* Styling for Laptop - 1024px */
@media (min-width: 769px) and (max-width: 1025px) {
    .project {
        margin: 1.5rem 1.5rem 6rem;
    }
    
    header nav ul {
    display: flex;
    font-size: 1rem;
    }
    
    header nav ul li a{
        color:#516C5F;
    }
    
    header nav ul li a:hover{
        font-size: 1rem;
        color:#9EA396;
    }
    
    
    h1 {
       font-size: 4rem;
   }

    .aboutMe {
        display: block;
    }

    .aboutMe img {
        height: 13.25rem;
        width: 13.25rem;
        margin: 0 35%;
        text-align: center;
    }

    .aboutMe p {
        border: none;
    }


    .myWorkImg {
        width: 28rem;
        height: 19rem;
    }

    .title-descr {
        padding: 0 1rem;
    }

    .skill img {
        height: 12rem;
        width: 12rem;
    }

}